
.header-top{
	
	
}
.header{
	background-color:black;
}
.container{
	margin:0 auto;
	width:1170px;
	padding: 0 15px;
	
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px;
	

	
}
.row>*{
	width:100%;
	padding:0px 15px;
}
.col-lg-1{
	width:8.33%;
}
.col-lg-2{
	width:16.66%;
}
.col-lg-3{
	width:25%;
}
.col-lg-4{
	width:33.33%;
}
.col-lg-5{
	width:41.66%;
}
.col-lg-6{
	width:50%;
}
.col-lg-7{
	width:58.33%;
}
.col-lg-8{
	width:66.66%;
}
.col-lg-9{
	width:75%;
}
.col-lg-10{
	width:83.33%;
}
.col-lg-11{
	width:91.665;
}
.col-lg-12{
	width:100%;
}
.justify-content-start{
	justify-content:start !important;
}
.justify-content-evenly{
	justify-content:space-evenly !important;
	
}
.justify-content-around{
		justify-content:space-around!important;
}
.justify-content-between{
		justify-content:space-between !important;
		
}
.justify-content-end{
	justify-content:flex-end !important;
	
}
.align-items-start{
	align-items:flex-start !important;
}
.align-items-end{
	align-items:flex-end !important;
}
.align-items-center{
	align-items:flex-center !important;
}
.align-items-baseline{
	align-items:flex-baseline !important;
}
/*=======header style======*/

.header-info .botton a{
	background-color: #009bd9;
}
.header-info >a{
	color:white;
	text-decoration:none;
	font-size:15px;
	padding:15px 10px;
}
.header-info >span{
	color:white;
	text-decoration:none;
	font-size:15px;
	padding:0px 10px;
}
.header-info a:hover {
	color:#009bd9;
}
.header-info >span:hover{
		color:#009bd9;
}
iconify-icon{
	font-size:20px;
	padding-top:5px;
	color: #009bd9;
}
.botton a{
	color:white;
	padding:10px 0px;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	font-size:20px;
}
.text-right{
	text-align:right !important;
}

.nav{
	background-color:white;
	padding:10px 0px;
}
.logo{
	 background-color:white;
	 padding:10px 0px ;
}
.logo>a{
	color:gray;
	font-size:34px;
	text-decoration:none;
	display:inline-block;
	font-weight:600px;
	
}
.menu{
	display:flex;
	justify-content:flex-end;
	
}
.link a{
	display:block;
	padding:10px 0px;
	text-decoration:none;
	color:gray;
	font-size:18px;
	text-align:right !important;
	padding:8px 12px;
	
}
.link a:hover{
	color:#009bd9;
}
.link a.active{
	color:#009bd9;
}
.navbar{
	     padding:10px;
        margin-top:5px;
		
}
.banner{

	padding:140px 0px;
	background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url("image/hero-bg (2) (1) (1).jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	
}
.main-content{
	padding:10px 0px;
  
}
.main-content h2{
	font-size:20px;
	color:white;
	padding:10px 0px;
	font-family:'Raleway', sans-serif;
	margin-bottom:25px;
}
.main-content h1{
	font-size:50px;
	color:white;
	font-family:'Raleway', sans-serif;
	font-weight:bold;
	
}
.botton{
	position:relative;
	display:inline-block;
	padding:6px 0px 6px 25px;
	background-color:;
	
}
.botton a.btn {
	  border-radius:25px;
	  padding-left:40px;
	  padding-right:30px;
	  transition:all.3s ease;
	  font-size:15px;
	  letter-spacing:1px;
	  background-color: #333333;
}
.botton a.btn:hover{
	background-color: #009bd9;
}
.botton >iconify-icon{
	position:absolute;
	top:0;
	left:0;
	background-color: #009bd9;
	 border-radius:50%;
	 align-items:center;
	 line-height:50px;
	 color:white;
}
.layer{
	background-color:gray;
	height:70vh;
}
.inner-box{
	background-color:blue;
	height:300px;
	margin-top:-35px;
	
}
.inner-box-1{
	background-color:blue;
	height:400px;
	margin-top:-100px;
}
.about{
		background-color:red;
	    height:70vh;
}
.ph-about{
	background-color:blue;
	height:200px;
	margin-top:50px;
	
}
.about-content{
	background-color:blue;
	height:200px;
	margin-top:50px;
}
.company{
	background-color:yellow;
	height:30vh;
}
.logos{
	height:20px;
	background-color:black;
	margin-top:80px;
}
.services{
	background-color:red;
	height:70vh;
	
}
.services-info{
	background-color:black;
	height:120px;
	margin-top:30px;
	
}
.picture{
	background-color:blue;
	height:130vh;
}
.picture-color{
	height:40vh;
	background-color:black;
	margin-top:80px;
}
.member{
	background-color:black;
	height:60vh;
}
.team-members{
	background-color:white;
	height:120px;
	margin-top:50px;
}
.portfolio{
	background-color:red;
	height:100vh;
}
.port{
	background-color:black;
	height:120px;
	margin-top:30px;
	
}
.team{
	background-color:yellow;
	height:60vh;
}
.team-ph{
	background-color:black;
	height:200px;
	margin-top:50px;

}
.pricing{
	background-color:blue;
	height:100vh;
}
.pricing-ph{
	background-color:gray;
	height:300px;
	margin-top:50px;
}
.table{
	background-color:pink;
	height:120vh;
}
.bar{
	background-color:white;
	height:40px;
	margin-top:50px;
}
.bar-1{
	background-color:white;
	height:100px;
	margin-top:50px;
}
.contact{
	background-color:gray;
	height:130vh;
}
.cont{
	background-color:red;
	height:200px;
	margin-top:50px;
}
.cont-1{
	background-color:black;
	height:300px;
	margin-top:10px;
}
.footer{
	background-color:black;
	height:70vh;
}
.footer-la{
	background-color:red;
	height:200px;
	margin-top:50px;
}
.end{
	background-color:red;
	height:60px;
	
}
.simple{
	background-color:yellow;
	height:30px;
	margin-top:5px;
}