:root{
	--primary-color:#00bcd4;
	--sec-color:#fff;
	--bg-color:;
}
.header{
	background-color:black;
}
.container{
	margin:0 auto;
	width:100%;
	padding: 0 15px;
	
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px;
}
.row>*{
	width:100%;
	padding:0px 15px;
}

.justify-content-start{
	justify-content:start !important;
}
.justify-content-evenly{
	justify-content:space-evenly !important;
	
}
.justify-content-around{
		justify-content:space-around!important;
}
.justify-content-between{
		justify-content:space-between !important;
		
}
.justify-content-end{
	justify-content:flex-end !important;
	
}
.align-items-start{
	align-items:flex-start !important;
}
.align-items-end{
	align-items:flex-end !important;
}
.align-items-center{
	align-items:flex-center !important;
}
.align-items-baseline{
	align-items:flex-baseline !important;
}
/*=======header style======*/

.header-info1 .botton a{
	background-color:var(--primary-color);
	padding:14px 20px;
}
.header-info{
	    padding-top: 8px;
}
.header-info >a{
	color:white;
	text-decoration:none;
	font-size:14px;
	padding:0px 8px;
	
}
.header-info >span{
	color:white;
	padding:0px 2px;
}
.header-info a:hover {
	color:var(--primary-color);
}

 .header-info >iconify-icon{
	font-size:20px;
	padding-top:0px;
	color: var(--primary-color);
}
.botton a{
	color:white;
	padding:10px 0px;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	font-size:16px;
}
.text-right{
	text-align:right !important;
}

.nav{
	background-color:white;
   padding:14px 0px;
 
}
.logo{
	 background-color:white;
	 padding:0px 0px ;
	 
}
.logo>a{
	color:#635551;
	font-size:32px;
	text-decoration:none;
	display:inline-block;
	font-weight:600;
	font-family: 'Raleway', sans-serif;
}
.menu{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	padding:0px 0px;
}
.link a{
	display:block;
	padding:10px 0px;
	text-decoration:none;
	color:gray;
	font-size:16px;
	text-align:right !important;
	padding:8px 12px;
	
}
.link a:hover{
	color:var(--primary-color);
	
}
.link a.active{
	color:var(--primary-color);
}
.navbar{
	
}
.banner{
	padding:30px 0px;
	background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url("image/hero-bg.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
} 
.main-content{
	margin-top:280px;
	margin-bottom:260px;
}
.main-content h4{
	font-size:26px;
	color:#eee;
	padding:20px 0px;
	margin-bottom:24px;
	font-family: 'Raleway', sans-serif;
	font-weight:500;
	opacity:0.7;
}
.main-content h1{
	font-size:50px;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	
}
.botton{
	position:relative;
	display:inline-block;
}
.botton a.btn {
	
	  border-radius:25px;
	  padding-left:70px;
	  padding-right:30px;
	  transition:all.3s ease;
	  font-size:20px;
	  letter-spacing:1px;
	  transition: 0.5s;
	  background-color: #333333;
	      line-height: 30px;
}
.botton a.btn:hover{
	background-color:var(--primary-color);
}
.botton >iconify-icon{
	position:absolute;
	top:-5px;
	left:-5px;
	background-color:var(--primary-color);
    border-radius:50%;
	align-items:center;
	 line-height:50px;
	  padding:20px;
	 box-shadow: 3px 0px 15px #0000001a;
	  font-size:20px;
	 color:#fff;
}
.layer{
	background-color:white;
    padding:0px 0px;
}
.inner-box{
	background-color:white;
	padding:40px 0px;
	position:relative;
	top:-100px;
	box-shadow:0px 5px 15px #ccc;
	border-radius:10px;
	text-align:center;
	display:inline-block;
	animation:inner 2s ease-in-out ;
}
.inner-box h4{
	font-size:20px;
	font-weight:700;
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
	font-family: 'Poppins', sans-serif;
	padding:20px 20px;
}
.inner-box p{
	font-size:16px;
	padding:0 18px;
	padding-bottom:20px;
	text-align:center;
	line-height:22px;
	color:#716f6f;
}

.inner-box-1 h1{
	font-size:34px;
	font-weight:700;
   line-height:40px;
	margin-bottom:20px;
	letter-spacing:1px;
	color:white;
	font-family: 'Raleway', sans-serif;
}
.inner-box-1 p{
	font-size:16px;
	line-height:25px;
	padding:8px 0px;
	margin-bottom:30px;
	color:white;
}
.inner-box-1{
	background-color:var(--primary-color);
	padding:40px 20px;
	position:relative;
	top:-200px;
	box-shadow:0px 5px 5px #ccc;
	border-radius:5px;
	margin-bottom:-80px;
	animation:inner 2s ease-in-out ;
}
.botton a.bt {
	  border-radius:25px;
	  padding:14px 25px;
	  transition:all.3s ease;
	  font-size:15px;
	  letter-spacing:1px;
	  background-color: rgba(255, 255, 255, 0.2);
	  color:white;
	 display:inline-block;
	 text-align:center;
	 margin-left:92px;
}
.botton a.bt:hover{
	background-color:white;
	color:var(--primary-color);
}
@keyframes inner{
	0%{
		transform:translatey(20%);
	}
}

.about{
	 background-color:#f0fbfd;
      padding:40px 0px;
}

.ph-about{
   background-image:url("image/about-img.jpg");
	background-size:cover;
	background-position:center;
    background-repeat:no-repeat;
		display:flex;
	justify-content:center;
	align-items:center;    
}
.ph-about a{
	background-color:var(--primary-color);
	border-radius:50%;
	font-size:60px;
	color:white;
	width:80px;
	height:80px;
	line-height:95px;
	text-align:center;	
}
.about-content{
	padding:60px 0 60px 30px;

}
.about-content h5{
	color:#999;
	font-size:20px;
	margin-bottom:20px;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
}
.about-content h2{
	font-size:30px;
	margin-bottom:25px;
	font-weight:600;
	font-family: 'Poppins', sans-serif;
}
.abt-text h4:hover{
	color:var(--primary-color);
}
.about-content p{
	font-size:16px;
	font-family: 'Poppins', sans-serif;
}
.abt-item{
	display:flex;
   align-items:flex-start;
	margin-top:50px;
}
.abt-item .abt-icon{
	width:60px;
	height:60px;
	border-radius:50%;
	border:solid 1px var(--primary-color);
    background-color:white;
	color:#009bd9;
	text-align:center;
	line-height:70px;
	font-size:30px;
	flex:0 0 auto;
	transition:0.5s;
}
.abt-item:hover .abt-icon{
  background-color:var(--primary-color);
}
.abt-icon a{
	color:var(--primary-color);
}
.abt-item:hover a{
	color:#fff;
}

.abt-icon a:hover{
	color:white;
}
.abt-item .abt-text{
	padding-left:20px;
}
.abt-text h4{
	display:inline-block;
	margin-bottom:10px;
	color:black;
	font-size:20px;
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	cursor:pointer;
}
.company{
padding:30px 0px;
}
.logos{
	padding:10px 40px;
}
.logos img{
	width:100%;
	height:auto;
	filter:grayscale(100%);
	opacity:0.5;
}
.logos img:hover{
	filter:grayscale(0%);
	opacity:1;
}
.circle{
	text-align:center;
}
.circle span{
	display:inline-block;
	border-radius:50%;
	width:12px;
	height:12px;
	color:var(--primary-color);
	border:solid 1px #009bd9;
	background-color:#fff;
	opacity:0.8;
	margin:0 3px;
	cursor:pointer;
}
.circle span:hover{
	background-color:var(--primary-color);
}
.circle span.active{
	background-color:var(--primary-color);
}
.services{
	background-color:#f0fbfd;
	padding:60px 0px;
}
.ser-con{
	text-align:center;
}
.ser-con h2{
	padding:10px;
	font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
	 margin-bottom:30px;
}
.ser-con p{
	  font-family: 'Poppins', sans-serif;
	  margin-bottom:50px;
}
.cir {
	position:absolute;
	top:-30px;
	left:50%;
	transform:translateX(-50%);
	width:60px;
	height:60px;
	color:white;
	text-align:center !important;
	line-height:70px;
	font-size:30px;
	z-index:1;

}
.cir iconify-icon{
	margin-left:3px;
}
.cir:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:var(--primary-color);
	border:solid 2px var(--primary-color);
	border-radius:50%;
	z-index:-1;
	transition:all .2s ease;
}
.services-info{
	padding:10px 30px;
	text-align:center;
	box-shadow:0px 0px 20px #dee2e6 ;
	margin-top:60px ;
	position:relative;
	background-color:#fff;
}
.services-info h2{
	display:inline-block;
	font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
	padding:5px 40px;
	margin-top:40px;
	cursor:pointer;
}
.services-info:hover h2{
	color:var(--primary-color);
}
.services-info:hover .cir:after{
	transform:scale(1.2);
	background-color:#fff;
}
.services-info:hover .cir{
	color:var(--primary-color);
}
.services-info p{
	    font-family: 'Poppins', sans-serif;
		padding:10px 0px;
		font-size:12px;
}
.picture{
	background-color:#fff;
	padding:80px 0px;
}
.ba-pic{
	background-image:url(image/values-1.jpg);
}
.ba-pic-1{
	background-image:url(image/values-2.jpg);
}
.ba-pic-2{
	background-image:url(image/values-3.jpg);
}
.ba-pic-3{
	background-image:url(image/values-4.jpg);
}
.ba{
	width:100%;
	height:auto%;
	margin-bottom:20px;
	padding:160px 30px 20px 30px ;
	background-position:center;
	background-size:cover;
    background-repeat:no-repeat;
    border-radius:5px;
}
.picture-color{
    padding:10px 20px;
	background-color:#ffffffe6;
	border-radius:5px;
	transition:all 1s ease;
}
.read{
	display:flex;
	align-items:center;
	cursor:pointer;
}
.mis {
	text-decoration:none;
	text-align:center !important;
	font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    padding:10px 0px ;
}
.mis a{
	text-decoration:none;
	color:black;
	
	
}
.picture-color p{
	font-family: 'Poppins', sans-serif;
	margin-bottom:20px;
}
.read a{
	text-decoration:none;
	color:black;
	font-size:12px;
	padding:0px 2px;
}

.ba-pic:hover .picture-color{
	background-color:var(--primary-color);
}

.ba-pic-1:hover .picture-color{
	background-color:var(--primary-color);
}

.ba-pic-2:hover .picture-color{
	background-color:var(--primary-color);
}
.ba:hover  iconify-icon{
     color:#ffffffe6;
	 
}
.ba:hover a{
     color:#ffffffe6;
	 
}
.ba:hover p{
     color:#ffffffe6;
	 
}
.ba-pic-3:hover .picture-color{
	background-color:var(--primary-color);
}
.read a:hover{
	 text-decoration-line:underline;
}



.member{
	background-image:  linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),url(image/testimonials-bg.jpg);
	background-position:center;
	background-size:cover;
    background-repeat:no-repeat;

}
.text-members{
	text-align:center;
	padding:50px 0px;
}

.text-ph img{
	width:100px;
	height:100px;
	border-radius:50%;
	border:5px solid #bdbdbd;
	
}
.text-ph h3{
	font-family: 'Poppins', sans-serif;
	font-weight:700;
	color:#fff;
	padding-top:20px;
}
.text-ph h4{
	color:#ddd;
	padding:10px 0px;
}
.text-ph p{
	color:#ddd;
   font-style: italic;
	padding:10px 30px;
	line-height:30px;
}

.text-ph iconify-icon{
	font-size:30px;
}
.circler span{
	display:inline-block;
	border-radius:50%;
	width:12px;
	height:12px;
	background-color:#ddd;
	opacity:0.8;
	margin:0 3px;
	cursor:pointer;
}
.circler span:hover{
	background-color:var(--primary-color);
	
}
.circler span.active{
	background-color:var(--primary-color);
}
.portfolio{
	background-color:#fff;

}
.port{

	margin-top:30px;
	position:relative;
}
.title-head{
	text-align:center;
}
.title-head h3{
	padding:30px 0px;
	font-family: 'Poppins', sans-serif;
	font-weight:500;
	color:#635551;
	font-size:40px;
	
}
.title-head p{
	font-weight:400;
	color:#635551;
	padding-bottom:20px;
}
/*-------- title-------*/
.portfolio{
	background:#fff;
	padding:60px 0px;
}
.port-btn{
	display:flex;
	justify-content:center;
	align-items:center;
}
.port-btn-1 {
	  transition:all 1s ease;
	  font-size:20px;
	  letter-spacing:1px;
	  background-color::#f0fbfd;
	
}
.port-btn-1 a{
	
	display:block;
	text-decoration:none;
	color:#635551;
	font-size:18px;
	text-align:right ;
	padding:10px 16px;
    border-radius:25px;
	
}
.port-btn-1:hover a{
	  background-color:#f0fbfd;
}
.port-btn-1 a:hover{
	color:var(--primary-color);
}
 .port-btn-1 a.active {
	 background-color:#f0fbfd;
	 border-radius:25px;
	 color:#00bcd4;
	display:block;
	text-decoration:none;
	font-size:18px;
	text-align:right ;
	padding:10px 18px;
	 
}

.port img{
	width:100%;
	height:;
}
.cont-port{
	background-color:rgba(255, 255, 255, 0.9);
	padding:10px 20px ;
	position:absolute;	
	left:22px;
	right:22px;
	bottom:30px;
	opacity:0;
	justify-content:space-between;
    transition: 0.1s;
	transform:translatey(40px);
	visibility:hidden;
}

.aft-1 {
  
	color:#473d3a;
	font-size:26px;
   padding:15px 0px;
   cursor:pointer;
}
.aft-1 iconify-icon:hover{
	color:var(--primary-color);
}
.cont-port{
	display:flex;
}
.port:hover .cont-port{
	opacity:1;
    transition: all ease-in-out 0.5s;
	transform:translatey(0px);
	visibility:visible;
}
.aft h1{
    font-family: 'Raleway', sans-serif;
	font-weight:700;
	color:#473d3a;
	font-size:20px;	
	padding:8px 0px;
}

.aft p{
    font-family: 'Raleway', sans-serif;
	color:#7f6d68;
	font-size:16px;
	font-weight:400;
}


.team{
	background-color:#f0fbfd;
	padding:60px 0px;
}

.team-ph{
	border-radius:5px;
	height:auto;
	margin:40px 0px;
	background-color:#fff;
	position:relative;
	overflow:hidden;
	box-shadow:0px 0px 10px rgb(214 215 216 );
}
.apps{
	padding:10px 0px;
	position:absolute;
	left:0;
	right:0;
	bottom:70px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgba(255, 255, 255, 0.9);
	opacity:0;
	transition: all ease 0.8s;
}
.team-ph:hover .apps{
	opacity:1;
	display:block;
}
.apps iconify-icon{
	font-size:22px;
	padding:0px 5px;
	color:#473d3a;
}
.apps iconify-icon:hover{
	color:var(--primary-color);
}
.team-rel{
	border-radius:10px;
	height:auto;
	box-shadow:0px 0px 10px #e9ecef;
	text-align:center;
	width:100%;
}
.team-ph img{
	width:100%;
	height:auto;
}
.apps a{
	text-decoration:none;
	color:black;
}
.team-rel h3{
	padding:10px 0px;
    font-family: 'Raleway', sans-serif;
	font-weight:900;
	color:#473d3a;
	font-size:20px;
}
.team-rel p{
	font-weight:400;
	color:#989595;
	padding-bottom:10px;
}

.team-con{
	text-align:center;
    width:100%;	
}
/*-------*/
.pricing{
	background-color:#fff;
	padding:60px 0px ;
}
.pricing-content{
	text-align:center;
	
}

.pricing  .active h4{
	background-color:var(--primary-color);
    padding:20px 0px;
	color:#fff;
	font-size:18px;
    box-shadow:0px 0.1px  15px #70edfd;
}

.pricing-con {
	background-color:#fff;
	text-align:center;
	margin:20px 0px;
	box-shadow:0px 0px 8px #eaeaea;
	border-radius:5px;
	position:relative;
	overflow:hidden;
}
.pricing-con .last{
	background-color:#fff;
	text-align:center;
	margin:50px 0px;
	box-shadow:0px 0px 10px #eaeaea;
	border-radius:5px;
	position:relative;
	overflow:hidden;
}
.pricing-con h4{
	background-color:#f8f8f8;
    padding:20px 0px;
	color:#656262;
	font-size:18px;
}
.pricing-con h3{
	color:#00bcd4;
   padding:20px 0px;
   font-size:35px;
   font-weight:600;
   
}
.pricing-con h3 sup{
   font-size:20px;
   vertical-align:20px;
}
.pricing-con p del{
	color:#ccc;
}
.pricing-con p{
	line-height:40px;
	margin-bottom:20px;
	color:#313030;
}
.pricing-con span{
	font-size:16px;
	color:#ccc;
}
.pri-end{
	padding:40px 0px;
	background-color:#f8f8f8;
}

.pri-end a{
	padding:10px 30px;
	text-decoration:none;
	background-color:#00bcd4;
	border-radius:5px;
	font-size:16px;
	font-weight:600;
	color:#fff;
	box-shadow: 0px 3px 8px #b3ebf2;
}
.pri-end a:hover{
	color:#fff;
	background-color:#55c3de;
}
.pri-con-4 {
	width:100%;
	position:absolute;
	right: -100px;
    top: 15px;
	background-color:#00bcd4;
	text-align:center;
	font-size:14px;
	transform:rotate(45deg);
}
.pri-con-4  h3{
	padding:10px 0px;
	color:#fff;
	font-size:14px;

}
.table{
	background-color:#f0fbfd;
	padding:60px 0px;
}


.table-bar{
	display:flex;
	justify-content:space-between;
	background-color:white;
    padding:20px 20px;
	border-radius:5px;
     margin:10px 120px;
}
.table-bar:hover a{
	color:#00bcd1;
	
}
.table-bar:hover .bar-11{
	color:#00bcd1;
	
}

.bar-1{
	display:flex;
	align-items:center;
	padding:0px 10px;

}
.bar-11 a{
	font-size:28px;
	color:black;
}
.bar-1 a{
	text-decoration:none;
	padding:0px 5px;
	color:black;
	font-family: "Poppins", sans-serif;
	font-weight:400;
}
.bar-1 span{
	font-size:24px;
	display:inline-block;
	color:#00bcd1;
}
.contact{
	background-color:#fff;
	padding:60px 0px ;

}
.contact-box{
	margin:0px 100px;
}
.cont{
	background-color:#fff;
	margin:20px 0px;
	
	display:flex;
	padding:20px 20px;
	box-shadow:0px 0px 30px rgb(214 215 216 );
}
.contact span iconify-icon{ 
	
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: dotted 1px #009bd9;
    background-color: white;
    color: #009bd9;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    flex: 0 0 auto;
	padding:14px;
	
}
.contact-1{
	padding:0px 10px;
}
.contact-2 h1{
	margin:10px 10px;
	font-size:20px;
	font-family: 'Poppins', sans-serif;
	font-weight:800;
	color:#656262;
}
.contact-2 p{
	padding:12px 0px;
	line-height:22px;
}
.cont-1{
	background-color:#fff;
	margin-top:10px;
	margin:10px 100px;
	padding:30px 10px ;
	box-shadow:0px 0px 30px rgb(214 215 216 );
}
.cont-1 input:focus{
	border:solid 1px var(--primary-color);
	outline:0;
	
}

.input-4 textarea:focus{
	border:solid 1px var(--primary-color);
	outline:0;
}
.table-type{
	display:flex;
	justify-content:space-between;
}
.input-1 input{

	width:100%;
	padding:10px 10px ;
	border:solid 1px #ced4da;
}
.input-1{
	padding:20px 10px;
	width:100%;
}
.input-2{
	padding:20px 10px;
	width:100%;
}
.input-2 input{

	width:100%;
	padding:10px 10px ;
	color:#ced4da;
	border:solid 1px #ced4da;
	
}
.input-3{
	padding:20px 10px;
}
.input-3 input{
    font-size:16px;
	width:100%;
	padding:10px 10px ;
	border:solid 1px #ced4da;
}
.input-4{
	padding:20px 10px;
}
.input-4 textarea{
    
   padding:10px 20px ;
	width:100%;
	font-size:18px;
	padding-bottom:80px ;
	border:solid 1px #ced4da;
}
.table-btn{
	padding:0px 10px;
	text-align:center;
}
.table-btn a{
	font-size:18px;
	color:#fff;
	background-color:var(--primary-color);
	padding:15px 30px;

}
.table-btn  a:hover {
	background-color:#55c3de;
	color:#fff;
	transform: 1s;
}
.footer{
	background-color:#f0fbfd;
	padding:30px 0px ;
}
.footer-la-1{
	background-color:;
	padding:30px 0px ;
}
.footer-la-1 h1{
	color:;
	font-weight:bold;
	font-family: 'Raleway', sans-serif;
	font-size:35px;
	padding-bottom:20px;
	letter-spacing:1px;
}
.footer-la-1 p{
	padding-bottom:30px;
	color:#656262;
}
.footer-la-1 span{
	font-weight:400;
	color:black;
	padding:0px 4px;
}
.footer-la-1 h4{
	color:#656262;
	padding:4px 0px;
}
.footer-la h3{
	font-weight:bold;
	font-size:18px;
	font-family: 'Raleway', sans-serif;
}
.footer-la ul li a{
	padding:8px 0px ;
	display:flex;
	align-items:center;
	text-decoration:none;
	color:#656262;
}
.footer-la ul{
	padding:20px 0px;
}
.footer-la ul li {
	padding:8px 0px ;
	display:flex;
	align-items:center;
	color:#656262;
	list-style:none;
}
.footer-la ul li a:hover{
	color:var(--primary-color);
}
.footer-la{
	background-color:;
	padding:30px 0px ;
}
.footer-la p{
	padding:28px 0px;
	font-family: 'Poppins', sans-serif;
}
.input-btn{
	position:relative;
	padding:8px 0px;
	border:solid 1px var(--primary-color);
	border-radius:25px;
	overflow:hidden;
	background-color:#fff;

}
.input-btn input{
	padding:4px 10px ;
    border:none;
	 font-size:18px;
	 margin-left:12px;
	
}
.input-btn button{
	position:absolute;
	top:0;
	right:-1px;
	bottom:0px;
	padding:0px 20px ;
    font-size:18px;
	border-radius:25px;
	border:solid 1px var(--primary-color);
	background-color:var(--primary-color);
	color:#fff;
	box-shadow:0px 2px 15px rgb(0 0 0 / 10%);
}
.input-btn button:hover{
	
}


.footer-end{
	background-color:#fff;
	padding:20px 0px;
}
.footer-mail{
	padding:10px 0px ;
	
}
.footer-mail h4{
	color:#656262;
	padding:10px 0px;
}
.footer-mail  span{
	font-weight:700;
	color:black;
}
.footer-mail p{
	color:#656262;
}
.footer-mail p:hover{
	opacity:0.7;
}
.footer-mail p a{
	text-decoration:none;
	color:var(--primary-color);
}
.footer-logo{
	display:flex;
	justify-content:flex-end;
	padding:0px 0px;
	
}

.footer-la li  iconify-icon{
      color: var(--primary-color);
}
.footer-logo a{
  background-color:var(--primary-color);
  width:40px;
  height:40px;
  border-radius:50%;
  color:#fff;
  font-size:20px;
  text-align:center;
   line-height:45px;
   margin:0px  0px 0px 4px;
}
.footer-logo a:hover{
	color:#fff;
	background-color:#55c3de;
}